@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;700&display=swap');

:root {
  --roxo-escuro: #54447b;
  --roxo-claro: #9580cd;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #f0f0f0;
  font-family: 'Montserrat', sans-serif;
}

body::-webkit-scrollbar {
  width: 18px;
}

body::-webkit-scrollbar-thumb {
  background: var(--roxo-claro);
  border-left: 4px solid #f0f0f0;
  border-right: 4px solid #f0f0f0;
}

body::-webkit-scrollbar-track {
  background: #f0f0f0;
}

.nav {
  /* From https://css.glass */
  background: rgba(0, 0, 0, 0.225);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(0, 0, 0, 0.5);

  height: 3rem;
  display: flex;
  align-items: center;
  color: #54447b;
}

.menu {
  text-align: center;
  border: 2px solid var(--roxo-escuro);
  background-color: var(--roxo-claro);
  border-radius: 4px;
  margin: 0.875rem 0 0.875rem 0.875rem;
  padding: 0.2rem 0.5rem;
}

.menu:hover {
  cursor: pointer;
}

.lista {
  display: none;
}

section {
  margin: 0.875rem 0;
}

section,
form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section::after {
  content: '';
  display: block;
  width: 90%;
  height: 2px;
  background-color: var(--roxo-escuro);
  margin-top: 1rem;
}

.titulo {
  text-align: center;
  margin-bottom: 1.75rem;
}

.titulo:first-child {
  text-align: start;
  margin-bottom: 0;
}

.textos {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-left: 1.5rem;
}

.textos p {
  border-left: 4px solid var(--roxo-escuro);
  padding-left: 0.5rem;
}

.memoji {
  text-align: center;
}

.memoji img {
  width: 60%;
  height: 60%;
  filter: drop-shadow(0 0 0.75rem var(--roxo-escuro));
}

.containers {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 0 1.75rem;
}

.component {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.875rem;
  padding: 0.75rem;
  border: 2px solid var(--roxo-escuro);
  border-radius: 2%;
}

.component h4 {
  border-bottom: 4px solid var(--roxo-claro);
}

.component p {
  text-align: center;
}

.component a {
  color: var(--roxo-claro);
}

.img-preview {
  width: 50%;
  -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.3);
  border-radius: 2%;
  transition: filter 1s;
}

.img-preview:hover {
  filter: grayscale();
}

form {
  width: 80vw;
}

form input {
  margin-bottom: 0.875rem;
  border: 1px solid;
  border-radius: 2%;
}

form input:focus-visible {
  outline-color: var(--roxo-claro);
}

form button {
  all: unset;
  color: #54447b;
  border: 2px solid var(--roxo-escuro);
  background-color: var(--roxo-claro);
  border-radius: 4px;
  padding: 0.2rem 0.5rem;
  font-weight: bold;
}

form button:hover {
  cursor: pointer;
}

.rodape {
  /* From https://css.glass */
  background: rgba(0, 0, 0, 0.225);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(0, 0, 0, 0.5);

  height: 4.75rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #54447b;
  font-weight: bold;
}

.rodape p {
  margin: 0.75rem 0;
}

.social img {
  width: 25px;
  height: 25px;
  margin-right: 0.75rem;
}

@media (min-width: 769px) {
  .nav {
    height: 4rem;
    justify-content: center;
  }

  .menu {
    display: none;
  }

  .lista {
    display: flex;
    gap: 2rem;
    list-style: none;
  }

  .lista li {
    transition: transform 0.2s;
    background: transparent;
  }

  .lista li:hover {
    transform: scale(1.1);
    text-decoration: overline;
  }

  .lista a {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--roxo-claro);
    font-weight: bold;
    background: transparent;
  }

  section {
    flex-direction: row;
    justify-content: center;
  }

  section::after {
    content: none;
  }

  .containers {
    flex-direction: row;
  }

  .component {
    max-width: 300px;
  }

  form button,
  .social img {
    transition: transform 0.2s;
  }

  form button:hover,
  .social img:hover {
    transform: scale(1.1);
  }
}
