@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;700&display=swap');

:root {
  --roxo-escuro: #54447b;
  --roxo-claro: #9580cd;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f0f0f0;
  font-family: 'Montserrat', sans-serif;
}

.nav {
  /* From https://css.glass */
  background: rgba(0, 0, 0, 0.502);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(0, 0, 0, 0.5);

  height: 3rem;
  display: flex;
  align-items: center;
  color: #54447b;
}

.menu {
  text-align: center;
  border: 2px solid var(--roxo-escuro);
  background-color: var(--roxo-claro);
  border-radius: 4px;
  margin: 0.875rem 0 0.875rem 0.875rem;
  padding: 0.2rem 0.5rem;
}

.menu:hover {
  cursor: pointer;
}

.lista {
  display: none;
}

section {
  margin: 0.875rem 0;
}

section,
form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section::after {
  content: '';
  display: block;
  width: 90%;
  height: 2px;
  background-color: var(--roxo-escuro);
}

/* .titulo {
  position: relative; 
  top: -22px;
} */

.textos {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-left: 1.5rem;
}

.textos p {
  border-left: 4px solid var(--roxo-escuro);
  padding-left: 0.5rem;
}

.memoji {
  text-align: center;
}

.memoji img {
  width: 60%;
  height: 60%;
}
